
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
   /* CSS HEX */
--black-olive: hsla(60, 16%, 20%, 1);
--international-orange-engineering: hsla(7, 76%, 42%, 1);
--orange-yellow-crayola: hsla(43, 95%, 68%, 1);

background-color: var(--orange-yellow-crayola);

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
}

@font-face {
    font-family: Patua;
    src: url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
    background-color: var(--color2);
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px;
    background-color: var(--international-orange-engineering);
    color: whitesmoke;
    border-radius: 6px;
}

button {
    margin-top:10px;
}

img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.group-photo {
    border-radius: 50%;
    width: 500px;
    height: 300px;
}

ul {
    list-style-type: circle;
    margin-top: 10px;
    padding: 0;
}

ol {
    list-style-type: decimal;
    margin: 10px;
    padding: 0;

}

p {
    border-
    border-image: url(../assets/Anpanlaugh.png) 30 round;
    font-family: patua;
}

content {
    width: 80%;
}



 