
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
   /* CSS HEX */
--black-olive: #3b3b2bff;
--international-orange-engineering: #bc2c1aff;
--orange-yellow-crayola: #fbcf60ff;

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color1);
    
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

button {
    margin-top:10px;
}

img {
    border-style: wavy;
    border-radius: 50%;
    border-
}

ul {
    margin-top: 10px;
    padding: 0;
}


content {
    width: 80%;
}



 